@import "../bower_components/bourbon/dist/bourbon";
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);

* { @include box-sizing(border-box); }

$page-width        :  800px;
$small-avatar      :  75px;
$medium-avatar     :  150px;
$large-avatar      :  250px;
$primary-font      :  'Luckiest Guy', Tahoma, sans-serif;
$secondary-font    :  Tahoma, sans-serif;

body {
    background-color: #ddd;
    max-width: 800px;
}

header {
    margin:auto;
    width:800px;
}

h1 {
    font-family: $primary-font;
    font-size: 3.8em;
    letter-spacing: .25em;
    color: darkred;
    display: block;
    padding: 10px 0 30px 0;
    text-align: center;
    margin: 15px 0 0 0;
}

h2 {
    font-family: $primary-font;
    letter-spacing: .15em;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }

ul, menu, dir {
    padding: 0;
  }


.menu-button {
    @include button(shiny, darkred);
    color: whitesmoke;
    margin: 5% 50% 5% 50%;
    width: 150px;
    font-family: $primary-font;
    width: 150px;
    margin: 5px 225px 10px 225px;
  }

header.modal-header {
    width:80%;
}

.dog-selection-button, .adopter-selection-button {
    @extend .menu-button;
    margin: 0 37.5px 0px 37.5px;
}

.dog-action {
    @extend .menu-button;
    margin: 20px 25px 0 25px;
    clear: both;
    width: 200px;
    float:left;
}

section#select-player {
    background-color: #f0f0f0;
    box-shadow: black 0 0 30px 10px;
    margin: 0 auto;
    position: absolute;
    width: 600px;
    top: 100px;
    left: 100px;
    z-index: 11;
    height: 600px;
    h2 {
        text-align: center;
}
}

section#select-adopter {
    @extend #select-player;
    display: none;
}

div.dog-selection-entry, div.adopter-selection-entry
{
  width:250px;
  margin:auto;
}

img.dog-avatar-large, img.adopter-avatar-large
{
	width:225px;
   height:225px;
   border-radius:75px;
}

p.dog-selection-name, p.adopter-selecton-name
{
  @extend h2;
  text-align:center;
  clear:left;
}


section#main-game {
    transition: opacity 0.5s ease;
    margin: 30px 0 0 0;
}
section#sidebar {
    float:left;
}

section#adoption-progress {
  float:left;
  margin: 30px 15px 25px 15px;
}

div.adopter-avatar {
    float:left;
    @include size($small-avatar $small-avatar);
    img {
        @include size($small-avatar $small-avatar);
        border-radius: 25px 0 0 25px;
    }
}


div.woobarprog {
    float:left;
    transition: all 0.5s ease;
    font-size: 25px;
    text-transform: uppercase;
    // padding: 5px 10px 5px 15px;
    border-radius: 0 25px 25px 0;
    margin:0;
    opacity:.7;
    background: orange;
    font-size: 35px;
    letter-spacing: 5px;
    width: 0px;
    opacity: 1.0;
    height: 40px;
}

div.woobar {
    @extend .woobarprog;
    background: darkred;
    z-index:100;
    width:440px;
    padding: 0;
}

p.progress-percentage {
    clear: left;
    float: right;
    font-family: $primary-font;
    margin: 5px 10px 0 0;
    font-size: 1em;
}
