@import "../bower_components/bourbon/dist/bourbon";
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);

* { @include box-sizing(border-box); }

body {
    background-color: #ddd;
    // @include background-image(linear-gradient(white 0, yellow 50%, transparent 50%));
}

header {
    margin:auto;
    width:480px;
}

h1 {
    font-family: 'Luckiest Guy', Tahoma, sans-serif;
    font-size: 3.8em;
    letter-spacing: .25em;
    color: darkred;
    display: block;
    padding: 10px 0 30px 0;
    text-align: center;
    margin: 15px 0 0 0;
}

h2 {
    font-family: 'Luckiest Guy', Tahoma, sans-serif;
    letter-spacing: .15em;
}

button {
    @include button(shiny, darkred);
    color: whitesmoke;
    margin: 5% 50% 5% 50%;
    width: 150px;
    margin: 0 165px 0 165px;
  }

.dog-action {
    @extend button;
    margin: 20px 165px 0 165px;
    clear: both;
    width: 200px;
    float:left;
}

section#maingame {
    margin: 30px 0 0 0;
}
section#sidebar {
  float:left;
}

section#progress {
  float:left;
}




div.woobarprog {
  float:left;
  transition: all 0.5s ease;
  font-family: 'Play';
  font-size: 25px;
  text-transform: uppercase;
  // padding: 5px 10px 5px 15px;
  border-radius: 0 25px 25px 0;
  margin:0;
  opacity:.7;
  background: orange;
  font-size: 35px;
  letter-spacing: 5px;
  width: 0px;
  opacity: 1.0;
  height: 40px;
}

div.woobar {
  @extend .woobarprog;
  background: darkred;
  z-index:100;
  width:440px;
  padding: 0;
}
