<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>dogwoome!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

        <!-- additional libraries -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

    </head>
    <body>
      <!--[if lt IE 10]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

        <header id="container">
            <h1><p id="askew">dogwoome!</p></h1>
        </header>

        <section id="select-player">
            <header class="modal-header">
                <h2>Choose a dog</h2>
            </header>
            <div class="dog-choices">
            </div>
            <script type="template/text" id="dog-select-template">
            <div class="dog-selection-entry"><a href="#"><img class="dog-avatar-large" src="<%- imgURL %>"></a>
                <button class="dog-selection-button"><%- dogname %></button><span class="index-ignore"><%- dogindex %></span>
            </div>
            </script>
        </section>

        <section id="select-adopter">
            <header class="modal-header">
                <h2>Choose a potential adopter</h2>
            </header>
            <div class="adopter-choices">
                <!-- <div class="adopter-selection-entry"><a href="#"><img class="adopter-avatar-large" src="https://asset1.basecamp.com/1940253/people/8112581/photo/avatar.96.gif"></a>
                    <button class="adopter-selection-button">Emily</button>
                </div>
                <div class="adopter-selection-entry"><a href="#"><img class="adopter-avatar-large" src="https://dge9rmgqjs8m1.cloudfront.net/global/6e784a56292505372595b9023b9cdc970010/original.6e784a56292505372595b9023b9cdc970010.gif"></a>
                    <button class="adopter-selection-button">Dave</button>
                </div> -->
            </div>
            <script type="template/text" id="adopter-select-template">
            <div class="adopter-selection-entry"><a href="#"><img class="adopter-avatar-large" src="<%- imgURL %>"></a>
                <button class="adopter-selection-button"><%- adoptername %></button>
            </div>
            </script>
        </section>

        <section id="main-game">
            <!-- <section id="sidebar">
                <div class="dog-selection-entry"><a href="#"><img class="dog-avatar-large" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1932629_10152418870378352_6293108892780372302_o.jpg"></a>
                    <button class="dog-selection-button">moksha</button>
                </div>
            </section> -->

            <section id="sidebar">

            </section>
            <script type="text/template" id="sidebar-template">
                <div class="dog-display-entry"><img class="dog-avatar-large" src="<%- imgURL %>">
                    <button class="dog-display-button"><%- dogname %></button>
                </div>
            </script>

            <section id="woo-battle">
              <div class="adopter-avatar">
                  <img src="#">
              </div>
              <div class="woobar" id="adopter1">
                  <div class="woobarprog">
                  </div>
                  <div class="woobar-status">
                      <p class="progress-percentage"><span class="percent">0</span>%</p>
                  </div>
              </div>
              <nav id="dog-action-selections">
                  <ul>
                      <li class="dog-action" id="lick"><h2>LICK!</h2></li>
                      <li class="dog-action" id="cuddle"><h2>CUDDLE!</h2></li>
                      <li class="dog-action" id="bark"><h2>BARK!</h2></li>
                  </ul>
              </nav>
            </section>

            <section id="alert">
                <p class="alert-msg"></p>
                <p class="close"><a href="#">OK</a></p>
                </div>
            </section>
        </section>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script src="scripts/jquery.lettering-0.6.1.min.js"></script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
